<% if current_user %>
        <script>
          window.current_user = {
            "email" : "<%=current_user.email  %>",
            "id": <%= current_user.id %>,
          
          };
        </script>
<% end %>

<script>
  window.splash="<%=image_url('BackgroundImg.jpg')  %>"
  window.yeplogo="<%= image_url('YepLogo.Png') %>"
  window.loginpic="<%= image_url('login_picture.png') %>"
  window.magnifying='<%= image_url('magni_glass.png') %>'
  window.profile = "<%= image_url('profile.png') %>"
</script>

<div id='root'></div>


