<!DOCTYPE html>
<html>
  <head>
    <title>YEP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="image" property="og:image" content="https://i.ibb.co/rddFGD8/Yep-Page-Image.png">
    <meta name="description" property="og:description" 
    content="Yep is a fullstack clone of Yelp made with Ruby on Rails backend and React for frontend. 
    Feel free to click around and explore just a few of the great eats around San Jose, California">

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application' %> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
